etf-underlyings {
    display: block;
    width: 100%;
}

.underlyings {
    margin-left: 2em;
    margin-right: 2em;
}

.table {
    
    width: 100%!important;

    .quantity {
        width: 2rem!important
    }
}