/* You can add global styles to this file, and also import other style files */
@import "app/views/client/page.less";
@import "app/views/components/components.less";
@import "../node_modules/toastr/toastr.less";

body {
    height: 100%;
    margin: 0
}

etf-client-menu {
    .company {
        height: 4.5rem;
        padding: 0.5rem!important;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
}
