@ap-background:rgb(0,54,98);
@client-background:rgb(184,46,43);
@client2-background: rgb(56, 97, 163);
@custodian-background:rgb(27,28,29);

.page {
    display: flex;
    flex-direction: row;
    height: 100%;

    .container {
        margin-left: 42px!important;
    }

    .main-content {
        width: 100%;

        .navbar {
            height: 4.5rem;
            
            * {
                color: white;
            }
        }
    }

    &.ap {
        .company {
                background:white!important;
        }
        .overview{
            background: darken(@ap-background,5%);
        }
        .sidemenu {
            background: @ap-background!important;
        }
        .menu {
            background: @ap-background!important;

            .active{
                background: darken(@ap-background, 10%)!important;
            }
        }

        .navbar {
            background: @ap-background!important;
        }
    }

    &.client {
        .company {
            background:white!important;
        }
        .overview{
            background: darken(@client-background, 10%);
        }
        .sidemenu {
            background: @client-background!important;
        }
        .menu {
            background: @client-background!important;
        }

        .navbar {
            background: @client-background!important;
        }
    }

    &.client2 {
        .company {
            background:white!important;
        }
        .overview{
            background: darken(@client2-background, 10%);
        }
        .sidemenu {
            background: @client2-background!important;
        }
        .menu {
            background: @client2-background!important;
        }

        .navbar {
            background: @client2-background!important;
        }
    }

    &.custodian {
        .company {
            img {
                filter: invert(1)
            }
        }
        .overview{
            background:darken(@custodian-background,10%);
        }
        .sidemenu {
            background: @custodian-background!important;
        }
        .menu {
            background: @custodian-background!important;
        }

        .navbar {
            background: @custodian-background!important;
        }
    }
}